*.csv
*.pem
*.txt
*.crt
*.key
*.jks

src/graphs/*.pdf
src/graphs/*.html

liboqs/
liboqs-go/

# Local development dirs/files
dev/temp_client/
dev/temp_server/
dev/temp_root/

# client_psk_db.csv
# server_psk_db.csv

clean.sh

run_lego.sh

client.sh
server.sh
ocsp_response

scripts/config.sh